table {
    border: 1px solid black;
    width: 100%;
    background: #D3D3D3;
}

th, td {
    text-align: center;
    padding: 0px;
    background: #FFFFFF;
}

tr:nth-child(even) {background-color: #f2f2f2;}


#seed_block {
    background-color: lightgrey;
    border: 5px solid black;
    padding: 25px;
    margin: 25px;
}

#seed_name{
    color: #7777ff;
}

#seed_image {
    width: auto;
    height: 100px;
}
